.div_nav{
    display: none;
}

.content-main{
    margin-top: 100px;
}

.profile{
    width: 200px; 
    height: 200px; 
    border-radius: 100%; 
    margin-top: -100px; 
}

@media only screen and (max-width: 600px) {
    .navbar_allysa {
      display: none;
    }

    .div_nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content-main{
        margin-top: 0px;
    }

    .profile{
        width: 150px;
        height: 150px;
        margin-top: -70px; 
    }
    .contact{
        display: none
    }

    .forcasting-profile{
        display: none;
    }

    .summary{
        font-size: 14px;
    }

}
